/*layout*/
$navbar-height:50px;
$layout-z-index:98;
$layout-container-bg:#eee;
$layout-main-container-padding:20px;
$layout-main-height:calc(100%-50px);

$mainColor:#f99740;
$mainColorFocus:#fd861d;
$success:#28c576;
$successFocus:#22af68;

$default:#dedede;

$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuColor:#fff;
$menuBg:#333;
$menuItemHover:#3b3b3b;
//子菜单不变色
$subMenuBg:#535353;
$menuSubItemHover:#535353;

// 按鈕规范



